{% extends 'layouts/main.html' %}
{% block title %}Home{% endblock %}
{% block content %}

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Workspaces</h3>
        </div>
        <div class="panel-body">
            <ul class="list-group">
                <li class="list-group-item">
                    <a href="{{ url_for('workspace' ,workspace='nltrd') }}">nltrd</a>
                </li>
            </ul>
        </div>
    </div>

{% endblock %}
