{% extends 'layouts/main.html' %}
{% block title %}Home{% endblock %}
{% block content %}

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Apps</h3>
        </div>
        <div class="panel-body">
            <ul class="list-group">

                {% for project in projects %}
                    <li class="list-group-item">

                        <a href="http://34.91.175.35/{{ project.path }}" target="_blank" class="btn pull-right"><i
                                class="fa fa-home"></i></a>
                        <a href="{{ project.web_url }}"
                           class="btn pull-right"><i class="fa fa-cog"></i></a>
                        <a href="https://gitlab.com/-/ide/project/{{ project.path_with_namespace }}/"
                           class="btn pull-right"><i class="fa fa-edit"></i></a>
                        <a href="" class="btn pull-right"><i class="fa fa-stop"></i></a>
                        <a href="" class="btn pull-right"><i class="fa fa-play"></i></a>
                        {{ project.name }}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <a href="{{ url_for('newapp', workspace=workspace) }}" class="btn btn-lg btn-primary pull-right"><i
            class="fa fa-plus-circle"></i></a>

{% endblock %}
