{% extends 'layouts/form.html' %}
{% block title %}New app{% endblock %}
{% block content %}
    <form method="post" class="form">
        {{ form.csrf_token }}
        <h3 class="form-heading">New app</h3>
        {{ form.name(class_ = 'form-control first-input', placeholder = form.name.label.text, required = true, autofocus = true) }}
        <input type="submit" value="Create" class="btn btn-primary btn-lg btn-block">
    </form>
{% endblock %}
